html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}


.form-signin input {
    border-radius: 0;
}

.radius-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.radius-bottom {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.form-signin .btn {
    margin-top: 1rem;
}

.form-signin input[type="password"]{
    position: relative;
    padding-right: 35px;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    /*display: none;*/
}

.form-signin input[type="password"]:focus ~ .show-password{
     /*display: block;*/
    color: #000000;
}
