{% extends 'base-auth.html' %}

{% load static %}

{% block content %}
    <form>
        <a class="d-flex align-content-center text-decoration-none" href="{% url 'expenses' %}" rel="noreferrer">
            <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="60" height="60">
            <h1 class="fw-normal">penses</h1>
        </a>

        <h3 class="h3 mb-3 fw-normal">Please reset password</h3>

        <div class="form-floating">
            <input type="text" name="code" class="form-control radius-top" id="floatingCode" placeholder="Jkm7z0x.3a-">
            <label for="floatingCode">Verification code </label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control password-input" id="floatingPassword"
                   placeholder="Password">
            <label for="floatingPassword">Password</label>
            <i class="bi bi-eye-fill show-password"></i>
        </div>
        <div class="form-floating">
            <input type="password" name="confirm_password" class="form-control radius-bottom password-input"
                   id="floatingConfirmPassword"
                   placeholder="********">
            <label for="floatingConfirmPassword">Confirm Password</label>
            <i class="bi bi-eye-fill show-password"></i>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
        <p class="text-center pt-3">
            <a href="{% url 'login' %}" rel="noreferrer" class="text-secondary small">Ready to sign in</a>
        </p>
        
        <p class="mt-5 mb-3 text-body-secondary text-center ">&copy; 2020–{{ current_year }}
        </p>
    </form>
{% endblock %}
